.layer {
    width: 1000px;
    height: 600px;
    border: 1px solid;
    margin: 0 auto 0 auto;
}

h1 {
    text-align: center;
}

.map_garbage_importance_container {
    display: flex;
    justify-content: center;
}

.map_garbage_importance_container h3 {
    margin-left: 25px;
    margin-right: 25px;
}